/* RESET STYLES */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
/* RESET STYLES */

body,
html{
    font-family:  'Roboto', sans-serif;
    height: 100%;
    font-size: 32px;

    --v_white_color: #ffffff;
    --v_blue_light_color: #2892d0;
    --v_blue_dark_color: #1c6996;
    --v_blue_hyper_dark_color: #134b6b;
    --v_grey_light_color:#e2e7f1;
    --v_grey_dark_color:#8d8e91;
    --v_grey_blur:#b8b8b8;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    height: 100%;
}

.container > * {
    /* padding: 25px; */
}

img{
    height: 1rem;
}

.head_panel {
    grid-column: 2 / -1;
    grid-row: 1 / 2;

    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: 1px 0px 5px var(--v_grey_blur);
    z-index: 5;

}

.search_bar{
    display: flex;
    align-items: center;

    gap: 10px;
    padding: 0px 0px 0px 20px;
    z-index: 6;
}

.search_bar input[type="image"]{
    height: 0.8rem;
}

.search_bar input[type="search"]{
    background-color: var(--v_grey_light_color);
    border-radius: 30px;
    font-size: 0.8rem;
    height: 1.2rem;
    flex:1;
}

.head_notifications {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    padding-right: 60px;
}


.head_notifications .avatar{
    border-radius: 50%;
    height: 1.8rem;
}

.head_greating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    padding: 10px 0px 20px 20px;
}

.head_greating p{
    font-size: 0.5rem;
    font-weight: bold;
}

.head_greating p span{
    font-size: 1rem;
    font-weight: bold;
}

.head_greating .avatar{
    border-radius: 50%;
    height: 2.5rem;
}


.head_buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:20px;
    padding-right: 60px;    
}

.head_buttons button{
    border-radius: 30px;
    background-color: var(--v_blue_light_color) ;
    color: var(--v_white_color);
    font-size: 0.6rem;
    width: 125px;
    height: 40px;
    transition: all 0.25s ease;

}

.head_buttons button:hover {
    background: var(--v_blue_dark_color);
    color: var(--v_grey_light_color);
    cursor: pointer;
}

.head_buttons button:active {
    background: var(--v_blue_hyper_dark_color);
    color: var(--v_grey_dark_color);
}

.side_panel {
    background-color: var(--v_blue_light_color);
    grid-row: 1 / -1;
    box-shadow: 1px 0px 5px var(--v_grey_blur);
}

.side_panel > *{
    background-color: var(--v_blue_light_color);
    grid-row: 1 / -1;
}

.side_panel nav{
    display: grid;
    gap:60px;

    font-weight: bold;
    font-size: 0.8rem;
    color: var(--v_white_color);
}

.sidebar_main_menu, 
.sidebar_setting_menu{
    list-style-type: none;
}

.sidebar_main_menu > li > a, 
.sidebar_setting_menu > li > a{
    display: flex;
    align-items: center;
    gap: 50px;

    padding: 10px;
    padding-left: 20px;
}

.title_dashboard{
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 10px;
    padding-left: 20px;
}

.side_panel img{
    filter: invert(1);
}

a {
    outline: none;
    text-decoration: none;
    color: var(--v_white_color);
    transition: all 0.25s ease; 
}

a img {
  transition: filter 0.25s ease;
}

a:active img {
  filter: invert(1) brightness(0.6);
}

a:link,
a:visited {
  color: var(--v_white_color);
}

a:focus {
  outline: none;
  border-left: 0px solid var(--v_blue_light_color);
  background: var(--v_blue_light_color);
}

a:hover {
  border-left: 5px solid var(--v_white_color);
  background: var(--v_blue_dark_color);
}

a:active {
  border-left: 5px solid var(--v_white_color);
  background: var(--v_blue_hyper_dark_color);
  color: var(--v_grey_dark_color);
}

.content_panel {
    background-color: var(--v_grey_light_color);
    grid-column: 2 / 4;
    grid-row: 2 / -1;
}

.annoncement_panel{
    grid-column: 4 / 5;
    background-color:var(--v_grey_light_color) ;
}

.trending_panel{
    grid-column: 4 / 5;
    background-color:var(--v_grey_light_color) ;
}